.cv h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.cv h2 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.cv h3 {
  font-size: 1.15rem;
  /* line-height: 1.15rem; */
  font-weight: 600;
  /* margin: 0.25rem 0; */
}
.cv h4 {
  font-size: 1.15rem;
  /* line-height: 1.15rem; */
  font-weight: 500;
  /* margin: 0.25rem 0; */
  font-style: italic;
}
.cv h5 {
  font-size: 1.075rem;
  /* line-height: 1.075rem; */
  font-weight: 500;
  /* margin: 0rem 0; */
}
.cv h6 {
  font-size: 1.075rem;
  /* line-height: 1.075rem; */
  font-weight: 400;
  font-style: italic;
  /* margin: 0rem 0; */
}
.cv p,
.cv li,
.cv ul,
.cv b {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.1rem 0;
}
.cv ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0.1rem 0;
  padding-left: 0.5rem;
}
.cv li {
  margin: 0;
  line-height: 1.2rem;
}
.cv b {
  font-weight: 600;
}

.cv header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.cv main {
  display: flex;
  flex-direction: column;
}

.cv main section {
  margin: 0.25rem;
  padding: 0.25rem;
}

.cv section {
  border-bottom: 2px solid lightgrey;
}

.cv summary {
  border: 1px solid lightblue;
  margin: 0.25rem;
  padding: 0.25rem;
}

.cv footer {
  border: 1px solid grey;
  padding: 0.5rem;
}

.cv .flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cv .splitRow {
  justify-content: space-between;
}
.cv .flexCol {
  display: flex;
  flex-direction: column;
}
.cv .centredCol {
  justify-content: center;
  align-items: center;
}
